.wp-block-gutena-newsletter-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    .gutena-newsletter-form {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: var( --gutena--newsletter-input-button-gap );
        width: 100%;
        position: relative;
        flex: 1;

        &.column {
            flex-direction: column;

            .gutena-newsletter-form-input-block {
                margin-bottom: 0 !important;
                align-self: auto;
            }

            .gutena-newsletter-submit-button-block {
                margin-top: 0 !important;

                &.left {
                    align-self: flex-start;
                    width: var( --gutena--newsletter-button-width );
                }
    
                &.center {
                    align-self: center;
                    width: var( --gutena--newsletter-button-width );
                }
    
                &.right {
                    align-self: flex-end;
                    width: var( --gutena--newsletter-button-width );
                }
            }
        }

        .gutena-newsletter-form-input-block {
            position: relative;
            display: flex;
            max-width: var( --gutena--newsletter-input-max-width );
            flex: 1;

            .gutena-newsletter-field {
                width: 100%;
                background-color: transparent;
                padding: 0;
                border: 0;
                outline: 0;
                color: inherit !important;
                font: inherit !important;
                text-transform: inherit;
                letter-spacing: inherit;
                line-height: inherit;

                &.center {
                    text-align: center;
                }

                &.right {
                    text-align: right;
                }

                &:focus {
                    border: 0;
                    outline: 0 !important;
                    box-shadow: none !important;
                }

                &::placeholder {
                    color: inherit !important;
                    opacity: .4 !important;
                }
            }
        }

        .gutena-newsletter-submit-button-block {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            .gutena-newsletter-action {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                flex-direction: row;
                height: 100%;
                padding: 0;
                margin: 0;
                border: 0;
                cursor: pointer;
                font-size: inherit;
                transition: color 100ms cubic-bezier(0.7,0,0.3,1);
                background-color: transparent;
                color: inherit !important;
                font: inherit !important;
                text-transform: inherit;
                letter-spacing: inherit;
                line-height: inherit;

                .gutena-newsletter-button-icon {
                    height: 100%;
                    
                    svg {
                        height: 100%;
                        fill: var( --gutena--newsletter-button-icon-color );
                        margin: 0 auto;
                        display: block;
                    }
                }

                &.icon-left {
                    &.with-text-icon .gutena-newsletter-button-icon {
                        margin-right: var( --gutena--newsletter-button-icon-spacing, 10px );
                    }
                }

                &.icon-right {
                    flex-direction: row-reverse;

                    &.with-text-icon .gutena-newsletter-button-icon {
                        margin-left: var( --gutena--newsletter-button-icon-spacing, 10px );
                    }
                }

                .gutena-newsletter-button-text {
                    vertical-align: middle;

                    img {
                        vertical-align: middle;
                    }
                }
            }
        }
    }

    &.message-center {
        .gutena-newsletter-message {
            text-align: center;
        }
    }

    &.message-right {
        .gutena-newsletter-message {
            text-align: right;
        }
    }

    // loader
    .gutena-newsletter-message {
        position: relative;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        margin: 14px 0 3px;
        text-align: left;
    
        &.success {
            color: #029A5A;
    
            &.status .info-text::before {
                border-color: #029A5A;
                content: "✓"
            }
        }
    
        &.warning {
            color: #DF5000;
    
            &.status .info-text::before {
                border-color: #DF5000;
                content: "!"
            }
        }
    
        &.error {
            color: #FA2323;
    
            &.status .info-text::before {
                border-color: #FA2323;
                content: "✕"
            }
        }
    
        &.status {
            .info-text {
                position: relative;
                padding: 2px 0 2px 35px;

                &::before {
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 0;
                    content: "!";
                    border-radius: 50%;
                    border: 2px solid white;
                    width: 20px;
                    height: 20px;
                    line-height: 20px;
                    text-align: center;
                    font-weight: 500;
                    font-size: 14px;
                }
            }
        }
    
        .loader {
            display: inline-block;
            border: 2px solid #f3f3f3;
            border-top: 2px solid #029A5A;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            animation: gn-spin 2s linear infinite;
            vertical-align: middle;
            margin: -4px 10px -4px 0;
        }
          
        @keyframes gn-spin {
            0% { 
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
    }    
}